body {
  background-color: black;
}
.main-body {
  background: linear-gradient(231deg, #fffa00, #00ff7a, #ff36f7);
  background-size: 600% 600%;

  -webkit-animation: Happy 12s ease infinite;
  -moz-animation: Happy 12s ease infinite;
  animation: Happy 12s ease infinite;
  @-webkit-keyframes Happy {
    0% {
      background-position: 94% 0%;
    }
    50% {
      background-position: 7% 100%;
    }
    100% {
      background-position: 94% 0%;
    }
  }
}
@-moz-keyframes Happy {
  0% {
    background-position: 94% 0%;
  }
  50% {
    background-position: 7% 100%;
  }
  100% {
    background-position: 94% 0%;
  }
}
@keyframes Happy {
  0% {
    background-position: 94% 0%;
  }
  50% {
    background-position: 7% 100%;
  }
  100% {
    background-position: 94% 0%;
  }
}

#moodDropdown {
  left: auto;
  color: white;
  background-color: black;
}
.dropdown-item {
  color: white;
}

.navbar {
  justify-content: center;
}

.card-deck {
  padding-top: 1%;
  margin: auto;
  height: 600px;
}

#spotify-card,
#youtube-card {
  max-width: 600px;
}

.mood-selector {
  align-content: center;
  vertical-align: 20%;
}

.main-footer {
  background: linear-gradient(231deg, #fffa00, #00ff7a, #ff36f7);
  background-size: 600% 600%;

  -webkit-animation: Happy 12s ease infinite;
  -moz-animation: Happy 12s ease infinite;
  animation: Happy 12s ease infinite;
  @-webkit-keyframes Happy {
    0% {
      background-position: 94% 0%;
    }
    50% {
      background-position: 7% 100%;
    }
    100% {
      background-position: 94% 0%;
    }
  }
}
@-moz-keyframes Happy {
  0% {
    background-position: 94% 0%;
  }
  50% {
    background-position: 7% 100%;
  }
  100% {
    background-position: 94% 0%;
  }
}
@keyframes Happy {
  0% {
    background-position: 94% 0%;
  }
  50% {
    background-position: 7% 100%;
  }
  100% {
    background-position: 94% 0%;
  }
}

.jumbotron {
  align-items: center;

  background: linear-gradient(231deg, #fffa00, #00ff7a, #ff36f7);
  background-size: 600% 600%;

  -webkit-animation: Happy 12s ease infinite;
  -moz-animation: Happy 12s ease infinite;
  animation: Happy 12s ease infinite;
  @-webkit-keyframes Happy {
    0% {
      background-position: 94% 0%;
    }
    50% {
      background-position: 7% 100%;
    }
    100% {
      background-position: 94% 0%;
    }
  }
  @-moz-keyframes Happy {
    0% {
      background-position: 94% 0%;
    }
    50% {
      background-position: 7% 100%;
    }
    100% {
      background-position: 94% 0%;
    }
  }
  @keyframes Happy {
    0% {
      background-position: 94% 0%;
    }
    50% {
      background-position: 7% 100%;
    }
    100% {
      background-position: 94% 0%;
    }
  }
}

.display-4 {
  z-index: 6;
}

#title-container {
  background-color: black;
  max-width: 30%;
  color: white;
  margin: 0 auto;
  text-align: center;
}
